body {
	font-family: Ariel;
	font-weight: 800;
	font-size: 20px;
	text-transform: uppercase;
	
}

#home {
	background: url(./IMG_0977.jpeg);
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	display: block;
	height: auto;
	padding-top: 350px;
	
}
.col {
	padding-top: 20px;
	text-align: center;
}

.quote {
	text-align: center;
}



